*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    height: 400px;
    width: 400px;
    border: 2px solid;
    text-align: center;
    padding: 10px;
    margin-left: 100px;
}
.Translate{
    height: 40px;
    width: 80px;
    border: 2px solid bisque;
    background-color:bisque;
    cursor: pointer;
}
.scale{
    height: 40px;
    width: 60px;
    border: 2px solid aquamarine;
    background-color: aquamarine;
    cursor: pointer;
}
.skew{
    height: 40px;
    width: 60px;
    border: 2px solid chocolate;
    background-color:chocolate;
    cursor: pointer;
}
.Rotate{
    height: 40px;
    width: 60px;
    border: 2px solid orangered;
    background-color: orangered;
    cursor: pointer;
}
.box{
    height: 150px;
    width: 150px;
    border: 2px solid;
    background-color: skyblue;
    padding: 10px;
    margin-top: 100px;
    margin-left: 100px;
   
}
.Translate:hover~.box{
    transform: translate(20px ,30px);
    /* transform: translateY(30px); */

}
.scale:hover~.box{
    /* transform:scalex(2); */
    transform: scale(1.2,2);
}
.skew:hover~.box{
    /* transform: skewX(20deg); */
    /* transform: skewY(30deg); */
    transform: skew(20deg,30deg);
}
.Rotate:hover~.box{
    transform: rotate(360deg);
    transition: 2s;
}
